<div class="row container mt-4">
  <div class="col-3">
    <h2>Searchs</h2>
    <hr/>
    <ul class="list-group">
      <li
        class="list-group-item"
        routerLink=""
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active"
      >Search country</li>
      <li
        class="list-group-item"
        routerLink="region"
        routerLinkActive="active"
      >Search by region</li>
      <li
        class="list-group-item"
        routerLink="capital"
        routerLinkActive="active"
      >Search By Capital</li>
    </ul>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
    <hr/>
  </div>
</div>
